ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.new-add-user {
    margin-top: 20px;
}

.new-add-user table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #dddee1;
}

th {
    height: 40px;
    text-align: center;
    vertical-align: center;
    background-color: #f8f8f9;
    /* border-bottom: 1px solid #dddee1; */
}

.new-add-tips table {
    width: 100%;
    border: 1px solid #dddee1;
    border-top: 0;
}

td {
    text-align: center;
    font-size: 12px;
    height: 50px;
    color: #515a6e;
}

.new-add-user th div {
    width: 100%;
}

.new-add-user th div span {
    font-size: 12px;
    color: #515a6e;
    text-align: left;
}

.new-user-nav {
    border: 1px solid #dddee1;
}

.new-user-list {
    height: 30px;
    background-color: #f8f8f9;
    border-bottom: 1px solid #dddee1;
}

.new-user-list li {
    width: 14%;
    height: 30px;
    float: left;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: #515a6e;
    font-weight: bold;
}

.new-user-content {
    height: 40px;
}

.new-user-content li {
    font-size: 14px;
    color: #515a6e;
    text-align: center;
    line-height: 40px;
}

.page-cho {
    margin-top: 10px;
    margin-right: 50px;
    float: right;
}

.page-cho-press {
    float: left;
}

.page-cho-press-left {
    display: block;
    width: 14px;
    height: 14px;
    background-image: url(../picture/arrow_left.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.page-cho-press-curr {
    display: block;
    width: 14px;
    height: 14px;
}

.page-cho-press-right {
    display: block;
    width: 14px;
    height: 14px;
    background-image: url(../picture/arrow-right.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.page-cho-press li:first-child {
    float: left;
    width: 32px;
    height: 32px;
    margin-right: 5px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #dddee1;
    border-radius: 3px;
}

.page-cho-press li:last-child {
    float: left;
    width: 32px;
    height: 32px;
    margin-right: 5px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #dddee1;
    border-radius: 3px;
}

.page-cho-curr {
    float: left;
    width: 32px;
    height: 32px;
    margin-right: 5px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #466b91;
    border-radius: 3px;
}

.page-cho-curr a {
    text-decoration: none;
    color: #466b91;
    font-size: 14px;
}

.page-cho-curr span {
    text-align: center;
    line-height: 100%
}

.page-cho-jump {
    float: right;
    margin-left: 20px;
    padding: 7px;
    width: 80px;
    height: 32px;
    box-sizing: border-box;
    border: 1px solid #dddee1;
    border-radius: 3px;
}

.page-cho-jump>span {
    font-size: 12px;
    color: #515a6e;
    text-align: center;
}

.page-cho-down {
    display: block;
    float: right;
    width: 14px;
    height: 14px;
    margin-top: 2px;
    background-image: url(../picture/arrow-down.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}